*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------nav-------- */
.nav{
    background-color: rgb(192, 188, 188);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
    margin-right: 15px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-menu ul li a:hover{
    border-bottom: 1px solid black;
}
/* ---------banner-------- */
.banner{
    height:100vh;
    background-image: url("../asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.banner-heading{
    font-size: 60px;
    color: white;
}
.primary-text{
    color: red;
}
.banner-description{
    font-size: 25px;
    margin: 15px 50px;
    color: white;
}
.btn{
    border: none;
    padding: 10px 25px;
    background-color: red;
    color: white;
    font-size: 25px;
    border-radius: 3px;
}
#btn1{
    background-color: white;
    color: black;
}
/* ---------service-------- */
.service{
    display: flex;
    height: 100vh;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('../asset/image/footer-bg.png'),
    linear-gradient(90deg, rgba(2,1,18,1) 0%, rgba(3,3,9,1) 100%, rgba(5,10,11,0.54292343387471) 100%);;
    /* padding: 100px; */
}
.box{
    width: 250px;
    height: 250px;
    background-color: white;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.box img{
    width: 100px;
    
}
.service-box{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}
.service-container{
    text-align: left;
    
}
.btn-service{
    border: 0;
    background-color: white;
    color: red;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
}
.service-headeing{
    font-size: 45px;
}
.service-description {
    color: white;
    font-size: 22px;
}
ol{
    color: white;
    font-size: 22px;
}
.author-style{
    display: flex;
    align-items: center;
}
.author{
    border-radius: 50%;
    border: 1px solid white;
}
.service-bottom{
    padding-right: 30px;
    border-right: 3px solid red;
}
.service-text-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.help-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    width: 70%;
    padding: 20px;
    border-radius: 15px;
}
.help{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}
.call-icon{
    width: 120px;
}
.boxes-help{
    color: white;
}
.text-border{
    border-right: 3px solid gray;
    padding-right: 15px 15px;
}
/* -------blog--------- */
.blog-card-item{
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
}
.blog-img{
    width: 100%;
}
.blog-card{
    display: flex;
    gap: 35px;
}
.blogs{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cards-text{
    padding: 8px;
}
.blog-title{
    text-align: center;
}
.blog{
    margin: 40px;
}